In [2]:
import sklearn
import numpy as np
import pandas as pd

# Import Data

In [4]:
#training data
train = pd.read_csv("/content/train.csv")

#test data
test = pd.read_csv("/content/test.csv")

# Data Exploration(Exploratory Data Analysis)

In [5]:
train.head(10)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr...

In [6]:
test.tail()

          id                                              tweet
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

In [7]:
#non-racist/sexist related tweets
sum(train["label"] == 0)

20109

In [8]:
#racist/sexist related tweets
sum(train["label"] == 1)

1493

In [9]:
#check if there are any missing value
train.isnull().sum()#will tell output in no.s
#train.isnull().values.any()# will tell you in T or F value

id       0
label    0
tweet    0
dtype: int64

Data Cleaning

In [10]:
#install tweet-preprocesssor for removing mentions,urls,etc
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading https://files.pythonhosted.org/packages/17/9d/71bd016a9edcef8860c607e531f30bd09b13103c7951ae73dd2bf174163c/tweet_preprocessor-0.6.0-py3-none-any.whl
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [11]:
#remove special characters using regula expression library
import re

In [12]:
#set up punctuations we want to replace
REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\|)|(\()|(\))|(\[)|(\])|(\%)|(\$)|(\>)|(\<)|(\{)|(\})")
REPLACE_WITH_SPACE = re.compile("(<br\s/><br\s/?)|(-)|(/)|(:).")

In [13]:
import preprocessor as p 

def clean_tweets(df):
  tempArr = []
  for line in df:
    #send to tweet_processor
    tmpL = p.clean(line)
    #remove punctuation
    tmpL = REPLACE_NO_SPACE.sub("", tmpL.lower()) #convert all tweets into lower case
    tmpL = REPLACE_WITH_SPACE.sub(" ", tmpL)
    tempArr.append(tmpL)
  return tempArr

In [14]:
#clean training data
train_tweet = clean_tweets(train["tweet"])
train_tweet = pd.DataFrame(train_tweet)

In [15]:
#append cleaned tweets to the trainind data
train["clean_tweet"] = train_tweet

#compare the cleaned and uncleaned tweets
train.head(10)

   id  ...                                        clean_tweet
0   1  ...  when a father is dysfunctional and is so selfi...
1   2  ...  thanks for credit i cant use cause they dont o...
2   3  ...                                bihday your majesty
3   4  ...            i love u take with u all the time in ur
4   5  ...                             factsguide society now
5   6  ...  2 2 huge fan fare and big talking before they ...
6   7  ...                             camping tomorrow danny
7   8  ...  the next school year is the year for exams can...
8   9  ...                               we won love the land
9  10  ...                           welcome here  im its so

[10 rows x 4 columns]

In [18]:
#clean the test data and append the cleaned tweets to the test data
test_tweet = clean_tweets(test["tweet"])
test_tweet = pd.DataFrame(test_tweet)
#append cleaned tweets to the training data
test["cleaned tweet"] = test_tweet

#compare the cleaned and uncleaned tweets
test.tail()

          id  ...                                      cleaned tweet
17192  49155  ...       thought factory left right polarisation &gt3
17193  49156  ...                             feeling like a mermaid
17194  49157  ...  today in omg &amp used words like assets&ampli...
17195  49158  ...  happy at work conference right mindset leads t...
17196  49159  ...                      my song so glad free download

[5 rows x 3 columns]

# Test and Train Split

In [19]:
from sklearn.model_selection import train_test_split

#extract the labels from the train data
y = train.label.values

#use 70% for the training and 30% for the test
x_train, x_test, y_train, y_test = train_test_split(train.clean_tweet.values,y,stratify = y, random_state =1, test_size = 0.3, shuffle = True)

# Vectorize tweets using CountVectorizer

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

#vectorize tweets for model building
vectorizer = CountVectorizer(binary = True, stop_words = 'english')

#learn a vocabulary dictionary of all tokens in the raw documents
vectorizer.fit(list(x_train) + list(x_test))

#transform documents to document-term matrix
x_train_vec = vectorizer.transform(x_train)
x_test_vec = vectorizer.transform(x_test)

# Model Building

Apply support vector classifier(SVC)

In [25]:
from sklearn import svm

#classify using support vector classifier
svm = svm.SVC(kernel = 'linear' , probability = True)

#fit the SVC model based on the given training data
prob = svm.fit(x_train_vec, y_train).predict_proba(x_test_vec)

#perform classification and prediction on samples in x_test
y_pred_svm = svm.predict(x_test_vec)

# Accuracy score for SVC

In [27]:
from sklearn.metrics import accuracy_score
print("Accuracy Score for SVC is:" , accuracy_score(y_test,y_pred_svm)*100, '%')

Accuracy Score for SVC is: 94.84647430952013 %